<div class="w3-container w3-margin">
    <div class="w3-cell-row">
        <div class="w3-container w3-cell w3-quarter">
            <i id="primary-photo" class="bi bi-person-fill d-inline-flex m-auto" style="font-size:8rem;"></i>
        </div>

        {{#if hasDoc}}
        <div class="w3-container w3-cell w3-threequarter">
            <form id="chat-profile-form" method="post" action="/chat/profile/update">
                <div class="w3-container w3-cell">
                    <div class="w3-cell-row">
                        <div class="w3-cell w3-col w3-margin">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <strong>ID</strong>
                                </div>
                                <input type="text" id="rmtId" name="rmtid" value="{{uid}}" class="form-control"
                                    placeholder="First Name" readonly />
                            </div>
                        </div>

                        <div class="w3-cell w3-col w3-margin">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <strong>Username</strong>
                                </div>
                                <input type="text" id="uName" name="uname" value="{{profile.uname}}"
                                    class="form-control text-input" placeholder="First Name" />
                                <br>
                                <p id="uname-error" class="m-0 text-danger d-none"></p>
                            </div>
                        </div>
                    </div>

                    <div class="w3-cell w3-col w3-margin">
                        <div class="input-group">
                            <div class="input-group-text">
                                <strong>Display Name</strong>
                            </div>
                            <select name="displayName" id="displayName">
                                <option value="fname" {{#if profile.displayName.fname}}selected{{/if}}>First name
                                </option>
                                <option value="uname" {{#if profile.displayName.uname}}selected{{/if}}>Username</option>
                            </select>
                        </div>
                    </div>

                    <div class="w3-cell w3-col w3-margin">
                        <div class="input-group">
                            <div class="input-group-text">
                                <strong>Visible</strong>
                            </div>
                            <div class="form-check w3-margin-left" style="margin-top:7px;">
                                <input class="form-check-input cb-input" type="checkbox" value="" {{#if
                                    profile.isVisible}}checked{{/if}} id="isVisible" name="isVisible" />
                            </div>
                        </div>
                    </div>

                    <div class="w3-cell w3-col w3-margin">
                        <div class="input-group">
                            <div class="input-group-text">
                                <strong>Public</strong>
                            </div>
                            <div class="form-check w3-margin-left" style="margin-top:7px;">
                                <input class="form-check-input cb-input" type="checkbox" value="" {{#if
                                    profile.public}}checked{{/if}} id="public" name="public" />
                            </div>
                        </div>
                    </div>

                    {{#if profile.friends}}
                    <div class="w3-cell w3-col w3-margin">
                        <div class="input-group">
                            <div class="input-group-text">
                                <strong>Friends</strong>
                            </div>
                            <ul class="list-group">
                                {{#each profile.friends}}
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            {{.}}
                                        </span>
                                        <i id="unbefriend-{{.}}" class="bi bi-trash-fill unbefriend w3-margin-left"></i>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/if}}

                    {{#if profile.blockedUsers}}
                    <div class="w3-cell w3-col w3-margin">
                        <div class="input-group">
                            <div class="input-group-text">
                                <strong>Blocked Users</strong>
                            </div>
                            <ul class="list-group">
                                {{#each profile.blockedUsers}}
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            {{.}}
                                        </span>
                                        <i id="i-{{.}}" class="bi bi-trash-fill unblock w3-margin-left"></i>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/if}}
                </div>

                <button id="submit-button" type="submit" class="btn btn-success" style="border-radius: 15px;">
                    Submit
                </button>

                <button type="button" class="btn btn-info" style="border-radius: 15px;">
                    <a class="text-white" style="text-decoration:none;" href="/user">Cancel</a>
                </button>


                {{#each unames}}
                <p class="username d-none">{{uname}}</p>
                {{/each}}


                <input type="hidden" id="unblocked-user" value="{{#if unblockedUser}}{{unblockeduser}}{{/if}}">
            </form>
        </div>
        {{/if}}
    </div>
</div>