<div class="row">
    {{#if hasDoc}}
    <form action="/user/profile/update" method="post" style="margin:1rem 0 5rem 0;">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <strong>Name</strong>
                    <div class="input-group">
                        <input type="text" name="fname" value="{{doc.user.fname}}" class="form-control"
                            placeholder="First Name" />
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="input-group">
                        <input type="text" name="lname" value="{{doc.user.lname}}" class="form-control"
                            placeholder="Last Name" />
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <strong>Email</strong>
                    <div class="input-group">
                        <input type="email" name="email" value="{{doc.user.email}}" class="form-control"
                            placeholder="Email" />
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <strong>Street Address</strong>

                    <div class="input-group mb-3">
                        <input type="text" name="street" {{#if doc.address.street}}value="{{doc.address.street}}"
                            {{/if}} class=" form-control" placeholder="Street address" />
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" name="city" {{#if doc.address.city}}value="{{doc.address.city}}"
                            {{/if}}class="form-control" placeholder="City" />
                    </div>

                    <div class="input-group">
                        <input type="text" name="zipcode" {{#if doc.address.zipcode}}value="{{doc.address.zipcode}}"
                            {{/if}} class="form-control" placeholder="Zipcode" />
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <strong>Save Password</strong>
                    <div class="input-group">
                        <input class="form-check-input" type="checkbox" {{#if doc.passwordSaved}}checked{{/if}}
                            name="savepwd" />
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <strong>Gender</strong>
                    <div class="input-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" {{#if gender.male}}checked{{/if}} name="gender"
                                value="male">&nbsp;
                            <label class="form-check-label" for="flexCheckDefault">
                                Male
                            </label>
                        </div>&nbsp;&nbsp;&nbsp;

                        <div class="form-check">
                            <input class="form-check-input" type="radio" {{#if gender.female}}checked{{/if}}
                                name="gender" value="female">&nbsp;
                            <label class="form-check-label" for="flexCheckChecked">
                                Female
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-4">
                    <strong>Birthday</strong>
                    <div class="input-group">
                        <input type="date" name="dob" {{#if
                            doc.dob}}value="{{doc.dob.year}}-{{doc.dob.month}}-{{doc.dob.day}}" {{/if}}
                            class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-12 my-4">

                <div class="input-group d-flex justify-content-between">
                    <input id="submit-button" type="submit" class="btn btn-primary" type="button"
                        style="border-radius: 15px;">

                    <a href="/user/profile">
                        <input id="cancel-button" type="submit" class="btn btn-danger" value="Cancel" type="button"
                            style="border-radius: 15px;">
                    </a>
                </div>
            </div>
        </div>
    </form>
    {{/if}}
</div>